mdb-fader:not(:defined),
mdb-media-slot:not(:defined),
mdb-pointer:not(:defined),
mdb-scoped-inline-svg:not(:defined),
mdb-spinner:not(:defined),
mdb-suspense:not(:defined),
mdb-video:not(:defined) {
  visibility: hidden;
}
