.mdb-video-modal {
  --mdb-modal-width: min(80rem, calc(100vw - 3rem));
  --mdb-modal-background: transparent;
}

.mdb-video-modal__content {
  display: flex;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.mdb-video-modal__content > mdb-video {
  width: 100%;
}
